@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Secular One', sans-serif;
}

.token.keyword {
    font-style: italic;
    @apply text-blue-500;
}

.token.operator {
    @apply text-attic-fourth;
}

.token.comment {
    font-style: italic;
    @apply text-gray-600;
}

.token.punctuation {
    @apply text-blue-200;
}

.token.string {
    @apply text-attic-secondary;
}

.token.function {
    @apply text-attic-primary;
}